<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= link_to @project.title, @project.web_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @project.started_at %>
</p>

<p>
  <strong>Web url:</strong>
  <%= link_to @project.web_url, @project.web_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @project.image_url %>
</p>

<p>
  <%= image_tag @project.image_url, alt: "No image", style: "max-height: 600px" %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
